.features-tiles-item-image {
	display: inline-flex;
	border-radius: 50%;
	// background-color: get-color(primary, 3);
	background: linear-gradient(270deg, rgba(196,80,157,1) 0%, rgba(71,87,166,1) 100%);
}
